absl-py==0.11.0
appdirs==1.4.4
astunparse==1.6.3
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
cycler==0.10.0
decorator==4.1.2
distlib==0.3.1
dlib==19.21.1
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
networkx==2.0
numpy==1.19.4
oauthlib==3.1.0
olefile==0.44
opencv-contrib-python==4.4.0.46
opencv-python==4.4.0.46
opt-einsum==3.3.0
Pillow==8.0.1
pipenv==2020.11.15
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==1.1.1
PyYAML==3.12
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.18.0
scipy==1.5.4
six==1.15.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tifffile==2020.12.8
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.4.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
